body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    width: 70vw;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

.label {
    padding: 10px 0;
}

.tickets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ticket {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

button.add-to-cart {
    background-color: white;
    border: 3px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
}

.cart {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.cart p {
    font-weight: bold;
}